<html>
<h1 style="color:rgb(230, 176, 172);">Welcome to my Shop</h1>
<h1 style="color:rgb(230, 176, 172);">Here you will find multiple of goods that I want to sell</h1>
<head>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 33.33%;
          padding: 5px;
        }
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
</head>
<body>
    <div class="row"> 
        <div class="column">
            <h2>Diary of a Wimpy Kid $100</h2>
            <img src="https://kbimages1-a.akamaihd.net/69327895-ab7d-45e0-a8a2-7956cf72091a/1200/1200/False/diary-of-a-wimpy-kid-diary-of-a-wimpy-kid-1.jpg" 
            alt="Diary of a Wimpy Kid" width="300" height="300">
        </div>
        <div class="column">
            <h3>Lang Textbook $200</h3>
            <img src="https://media.karousell.com/media/photos/products/2020/6/5/20192020_hkust_lang1002_textbo_1591336160_1ede74d1_progressive.jpg" 
            alt="Lang Textbook" width="300" height="300">
        </div>
        <div class="column">
            <h3>T-Shirt $35</h3>
            <img src="https://media.karousell.com/media/photos/products/2022/8/22/tshirt_1661150680_6e06d737_progressive_thumbnail.jpg" 
            alt="T-shirt" width="300" height="300">
        </div>
    </div>
    <div>
        <p>Click here if you want to buy one of these!</p>
        <a href="/info">Info</a>
    </div>
</body>
</html>